/* COLORS */
/* 
  bright red, #EF476F
  bright yellow, #FFD166
  bright green, #06D6A0
  bright blue, #118AB2
  dark blue, #073B4C
  black, #000814
  white, #FFFFFF
 */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.form-input {
  display: flex;
  /* flex-direction: column; */
  /* width: 280px;
  height: 100vh; */
}

.text-center {
  text-align: center;
}

.form-fill {
  display: flex;
  justify-content: space-between;
}

.formMessage {
  color: red;
}

.inputContainer {
  border: 1px solid red;
  border-radius: .5rem;
}

.inputTitle {
  font-weight: 700;
}